body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.fill-screen {
  height: 400px;
  display: flex;
  flex-direction: column;
}

.fill-screen > * {
  display: flex;
  flex: 1;
  flex-direction: column;
}